PyMySQL==0.7.9
python-docx==0.8.6
Whoosh==2.7.4
Flask-Mail==0.9.1                               
Flask-Migrate==2.0.0
flask-msearch==0.1.5
Flask-Principal==0.4.0
Flask-RESTful==0.3.5
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
jieba==0.39
Pillow==3.4.2
beautifulsoup4==4.5.1
bs4==0.0.1
docxtpl==0.2.3
Flask==0.11.1
Flask-Login==0.3.2
