#global-nav .nav-container {
	display: flex;
}

#global-nav .nav-list {
	justify-content: space-between;
	padding: 0 10% 0 5%;
}

#global-nav a.logo {
	display: block;
	width: 226px;
	height: 54px;
	align-self: center;
	background-size: 226px 54px;
	background-repeat: no-repeat;
	background-image: url(/static/resource/logo.png);
	background-position: center center;
}

#global-nav .tab-group {
	justify-content: space-between;
}

#global-nav .tab {
	display: block;
	padding: 0 25px;
	line-height: 80px;
	color:#b0fbc5;
	letter-spacing: 0.2em;
}

#global-nav .tab:hover {
	text-decoration: none;
	background: rgba(255, 255, 255, 0.24);
}

#carousel .slide-placeholder {
	background: #fff;
	color: #3498db;
	font-size: 100px;
	line-height: 300px;
	text-align: center;
}

nav {
	position: absolute;
	background:transparent;
	width: 100%;
}


main .homePageBack{
	width: 100%;
	height: 500px;
	background: -webkit-radial-gradient(top right,#61ce9a,#309b92 75%);
	background: -moz-radial-gradient(top right,#61ce9a,#309b92 75%);
	background: radial-gradient(top right,#61ce9a,#309b92 75%);
}

main .slogan{
	text-align: center;
	color: #b0fbc5;
	font-family:;
	font-size: 2em;
	padding-top: 112px;
}

nav .tab-group .tab.active {
	border-bottom: 3px solid white;
	color: white;
}

.filters {
	color: white;
	overflow-x: auto;
	flex-wrap: nowrap;
	white-space: nowrap;
	padding: 20px 0;
}

.filters .filter {
	margin-right: 20px;
	overflow: hidden;
	line-height: 64px;
	padding: 6px 10px;
	display: inline-block;
}

.filters .filter.active {
	border-radius: 50px;
	background: white;
	color: #07d;
}

.card {
	background-color: white;
	overflow-x: hidden;
	border-radius: 5px;
	padding: 30px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.club {
	padding: 10px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.tag {
	background: #07d;
	color: white;
	margin-left: -30px;
	padding: 5px 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 20px;
	width: 5em;
	border-radius: 0 10px 10px 0;
}

footer {
	background-color: black;
	color: white;
	padding: 30px;
}

.search {
	min-height: 64px;
} 