a {
	color: inherit;
}

a:hover {
	text-decoration: none;
	color: inherit;
}

nav {
	background: #07d;
	color: white;
}

nav .tabs .tab {
	line-height: 64px;
	margin-right: 20px;
	color: rgba(255, 255, 255, 0.7);
}

nav .tabs .tab.active {
	border-bottom: 3px solid white;
	color: white;
}

.filters {
	color: white;
	overflow-x: auto;
	/*flex-wrap: nowrap;*/
	white-space: nowrap;
	padding: 20px 0;
}

.filters .filter {
	margin-right: 20px;
	overflow: hidden;
	/*line-height: 64px;*/
	padding: 6px 10px;
	display: inline-block;
}

.filters .filter.active {
	border-radius: 50px;
	background: white;
	color: #07d;
}

.card {
	background-color: white;
	overflow-x: hidden;
	border-radius: 5px;
	padding: 30px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.club {
	padding: 10px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

footer {
	background-color: black;
	color: white;
	padding: 30px;
}

.search {
	min-height: 64px;
}
